<div class="row">
  <h1>Welcome To Sam's Reddit!</h1>
  <p>Built using Ruby on Rails</p>
</div>
<% @posts.each do |post| %>
  <div class="link row clearfix">
    <h2>
      <%=link_to post.title, post %><br>
      <small class="author">Submitted <%=time_ago_in_words(post.created_at)%> by <%= post.user.username%></small>
    </h2>
    <div class="btn-group">
      <%= link_to like_post_path(post), method: :put,class:"btn btn-default btn-sm" do%>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%=post.get_upvotes.size%>
        <%end%>
      <%= link_to dislike_post_path(post), method: :put,class:"btn btn-default btn-sm" do%>
        <span class="glyphicon glyphicon-chevron-down"></span>
        Downvote
        <%=post.get_downvotes.size%>
        <%end%>
    </div>
  </div>
<% end %>

