<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h3><%= @post.title%></h3>
    </div>
  </div>
  <div class="panel-body ">
    <%= @post.body %>
  </div>
  <div class="panel-footer">Submitted by <%=@post.user.username%></div>
</div>
  <%if @post.user==current_user%>
    <div class="btn-group">
      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
      <%= link_to 'Destroy', @post, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default" %>
    </div>
  <%end%>
  <br/>
<%= link_to 'Back', posts_path %>
